body {
    background-color:yellow ;
    margin-left: 20px;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:blueviolet;
    margin-left: 35px;
}
p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 1000;
    color: rgb(255, 0, 221);
    margin-left: 25px;
}
li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    color:black;
    margin-left: 45px;
}